In [1]:
import requests
from bs4 import BeautifulSoup
from datetime import datetime
import time
import sqlite3

In [2]:
for i in range(10):
    url = 'https://eg.freemeteo.com/weather/cairo/current-weather/location/?gid=360630&language=english&country=egypt'
    response = requests.request('GET', url)
    soup = BeautifulSoup(response.text, 'html.parser')
    weather = soup.find('div', attrs={'class': 'temp'}).get_text()
    weather = float(weather.split('Â°')[0])
    wind = soup.find('div', attrs={'class': 'wind'}).get_text()
    wind = float(wind.split(' ')[1])
    stats = soup.find('div', attrs={'class': 'stats'}).get_text()
    for el in stats.split(' '):
        if el.endswith('%'):
            humidity = float(el.split('%')[0])
        elif el.endswith('m'):
            visibility = float(el.split('m')[0])
        elif el.endswith('mb'):
            presure = float(el.split('mb')[0])
    now = datetime.now()
    time_now = now.strftime("%d/%m/%Y %H:%M:%S")

    connection = sqlite3.connect("weather.db")
    cursor = connection.cursor()
    sql = "INSERT INTO reading (weather,wind,visibility,humidity,presure,time_now) VALUES (?,?,?,?,?,?)"
    data = [weather,wind,visibility,humidity,presure,time_now]
    cursor.execute(sql, data)
    connection.commit()
    connection.close()
    
    print(f'step number {i}')
    
    time.sleep(5)

step number 0
step number 1
step number 2
step number 3
step number 4
step number 5
step number 6
step number 7
step number 8
step number 9

In [3]:
connection = sqlite3.connect("weather.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM reading")
rows = cursor.fetchall()
connection.close()

for row in rows:
    print(row)

(1, 25, 19, 10000, 42, 1010, '07/06/2020 01:18:47')
(2, 25, 19, 10000, 42, 1010, '07/06/2020 01:18:53')
(3, 25, 19, 10000, 42, 1010, '07/06/2020 01:18:59')
(4, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:05')
(5, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:11')
(6, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:17')
(7, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:23')
(8, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:29')
(9, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:35')
(10, 25, 19, 10000, 42, 1010, '07/06/2020 01:19:41')
(11, 24, 13, 10000, 44, 1009, '07/06/2020 02:34:43')
(12, 24, 13, 10000, 44, 1009, '07/06/2020 02:34:51')
(13, 24, 13, 10000, 44, 1009, '07/06/2020 02:34:57')
(14, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:03')
(15, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:09')
(16, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:15')
(17, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:21')
(18, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:27')
(19, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:34')
(20, 24, 13, 10000, 44, 1009, '07/06/2020 02:35:40')

In [4]:
import pandas as pd

In [5]:
connection = sqlite3.connect("weather.db")
df = pd.read_sql("SELECT * FROM reading", connection)
df

    id  weather  wind  visibility  humidity  presure             time_now
0    1       25    19       10000        42     1010  07/06/2020 01:18:47
1    2       25    19       10000        42     1010  07/06/2020 01:18:53
2    3       25    19       10000        42     1010  07/06/2020 01:18:59
3    4       25    19       10000        42     1010  07/06/2020 01:19:05
4    5       25    19       10000        42     1010  07/06/2020 01:19:11
5    6       25    19       10000        42     1010  07/06/2020 01:19:17
6    7       25    19       10000        42     1010  07/06/2020 01:19:23
7    8       25    19       10000        42     1010  07/06/2020 01:19:29
8    9       25    19       10000        42     1010  07/06/2020 01:19:35
9   10       25    19       10000        42     1010  07/06/2020 01:19:41
10  11       24    13       10000        44     1009  07/06/2020 02:34:43
11  12       24    13       10000        44     1009  07/06/2020 02:34:51
12  13       24    13       10000        44     1009  07/06/2020 02:34:57
13  14       24    13       10000        44     1009  07/06/2020 02:35:03
14  15       24    13       10000        44     1009  07/06/2020 02:35:09
15  16       24    13       10000        44     1009  07/06/2020 02:35:15
16  17       24    13       10000        44     1009  07/06/2020 02:35:21
17  18       24    13       10000        44     1009  07/06/2020 02:35:27
18  19       24    13       10000        44     1009  07/06/2020 02:35:34
19  20       24    13       10000        44     1009  07/06/2020 02:35:40

In [6]:
df = pd.read_csv('data.csv')
df

   id  weather  wind  visibility  humidity  presure             time_now
0   1       25    19       10000        42     1010  07/06/2020 01:18:47
1   2       25    19       10000        42     1010  07/06/2020 01:18:53
2   3       25    19       10000        42     1010  07/06/2020 01:18:59
3   4       25    19       10000        42     1010  07/06/2020 01:19:05
4   5       25    19       10000        42     1010  07/06/2020 01:19:11
5   6       25    19       10000        42     1010  07/06/2020 01:19:17
6   7       25    19       10000        42     1010  07/06/2020 01:19:23
7   8       25    19       10000        42     1010  07/06/2020 01:19:29
8   9       25    19       10000        42     1010  07/06/2020 01:19:35
9  10       25    19       10000        42     1010  07/06/2020 01:19:41

In [7]:
df.describe()

             id  weather  wind  visibility  humidity  presure
count  10.00000     10.0  10.0        10.0      10.0     10.0
mean    5.50000     25.0  19.0     10000.0      42.0   1010.0
std     3.02765      0.0   0.0         0.0       0.0      0.0
min     1.00000     25.0  19.0     10000.0      42.0   1010.0
25%     3.25000     25.0  19.0     10000.0      42.0   1010.0
50%     5.50000     25.0  19.0     10000.0      42.0   1010.0
75%     7.75000     25.0  19.0     10000.0      42.0   1010.0
max    10.00000     25.0  19.0     10000.0      42.0   1010.0

## Great Job!